/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 20px;
  color: #5a5a5a;
  background-color: #fff;
}

h5{
    color: #333;
}

 .btn {
    background-color:#000 !important;
    color:#fff;
  }

.btn {
  display: inline-block;
  padding: 16px 42px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.full-logo{
    display: block;
    position:absolute;
    margin: auto;
    padding: 20px 20px;

}

nav-fixed-top{
    position:fixed;
    top: 0;
}

.domains-trigger .fake-input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    padding-right: 30px;
    font-family: Gotham SSm,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: .05em;
    border-bottom: 1px solid hsla(0,0%,100%,.7);
}

.form-control {
  display: block;
  width:100%;
  height: 46px;
  padding: 6px 50px;
  font-size: 13px;
  line-height: 10;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: absolute;
  right: auto;
  bottom: 70px;
  left: 6%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #000;
  text-align:left;
  text-shadow: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #000;
}

/* btn
-------------------------------------------------- */
.btn-primary {
  color: #fff;
  background-color: #ed215e;
  border-color: none;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
  .col-lg-4 {
    width: 16%;
    margin: 2px;
    padding: 0 auto;
    color:#666;
    background-color: #222433;
  }

.jumbotron-caption{
    text-align:right;
    text-shadow: none;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }


